.filter-bar {
  width: 390px;
  padding: 0.8em 1.75em;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  border-radius: 0.5em;
  background-color: azure;
  position: absolute;
  top: 12.5rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  box-shadow: 0 10px 20px -7px hsl(180, 29%, 70%);
}

@media (min-width: 600px) {
  .filter-bar {
    width: 80vw;
  }
}

.filter-bar :last-child {
  margin-left: auto;
}
