@if(!isFilterEmpty) {
<section class="filter-bar">
  @if(filter.role){

  <app-button [content]="filter.role" [withWrapper]="true" [feature]="'role'" />
  } @if(filter.level){
  <app-button
    [content]="filter.level"
    [withWrapper]="true"
    [feature]="'level'"
  />
  } @if(filter.languages){ @for (language of filter.languages; track language) {
  <app-button
    [content]="language"
    [withWrapper]="true"
    [feature]="'languages'"
  />
  } } @if(filter.tools){ @for (tool of filter.tools; track tool) {
  <app-button [content]="tool" [withWrapper]="true" [feature]="'tools'" />
  } }

  <app-button
    content="Clear"
    [withWrapper]="false"
    [feature]="'clear'"
    [className]="'filter-clear'"
  />
</section>
}
