button {
  border: none;
  background-color: inherit;
  padding: 0.4em;
  color: hsl(180, 29%, 50%);
  border-radius: 0.5em;
  font-size: 1.7rem;
  font-weight: 600;
}

.filter-btn {
  font-size: 1.7rem;
  font-weight: 700;
  background-color: hsl(180, 29%, 92%);

  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  color: hsl(180, 29%, 50%);
  border: none;

  &:hover {
    cursor: pointer;
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
  }
}

.filter-clear {
  border: none;
  background-color: inherit;
  font-size: 1.7rem;
  color: hsl(180, 29%, 40%);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
  }
}
