/* 
- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

/*
    Josh Comeau's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-color: hsl(180, 52%, 96%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-indent: 0;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.inactive {
  display: none;
}
